<div class="flex flex-row justify-around">
	<h1><%= @today.strftime("%A %-m %B") %></h1>
	<%= link_to '/entries/new' do %>
		<button class="primary-button">New Entry</button>
	<% end %>
</div>
<div class="flex flex-column justify-around align-items-center mt-50">
	<% if @entries.empty? %>
		<h3>No entries</h3>
	<% else %>
		<% @entries.each do |entry| %>
			<div class="entry">
				<%= link_to "Journal entry ##{entry.id}", edit_entry_path(entry) %>
			</div>
		<% end %>
	<% end %>
</div>