/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
font-family: Arial, Helvetica, sans-serif;
}
.flex {
display: flex;
}
.flex-row {
flex-direction: row;
}
.flex-column {
flex-direction: column;
}
.justify-center {
justify-content: center;
}
.justify-around {
justify-content: space-around;
}
.justify-items-center {
justify-items: center;
}
.align-items-center {
align-items: center;
}
.background-green {
background-color: aquamarine;
}
.primary-button {
background-color: springgreen;
border: none;
color: white;
width: 128px;
height: 64px;
font-size: 16px;
font-weight: medium;
margin-top: 16px;
}
.entry {
width: 50%;
height: 64px;
margin-bottom: 10px;
text-align: center;
border: 1px solid springgreen;
display: flex;
align-items: center;
justify-content: space-around;
}
.mt-50 {
margin-top: 50px;
}